.familiar {
  background-color: #ffffff;
  padding-top: 100px;
}

.familiar__text {
  max-width: 320px;
}

@media only screen and(max-width:1000px) {
  .familiar__inner-div {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and(max-width:400px) {
  .familiar__img {
    width: 300px;
  }
}

@media only screen and(max-width:360px) {
  .familiar__img {
    width: 260px;
  }
}